<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body>
  <%- include ('partials/_header.ejs') %>

    <main style="margin: 1em;">
      <h3 style="color: white">My Matchups</h3>
      <% if (user) { %>
        <table class="table">
          <thead>
            <tr>
              <th style="color: white" scope="col">Teams</th>
              <th style="color: white" scope="col">Date</th>
              <th style="color: white" scope="col">Coinciding Dates</th>

            </tr>
          </thead>
          <tbody>
            <% for(let sched in scheds) { %>
              <tr>
                <td>
                  <%= sched %>
                </td>
                <td>
                  <%= scheds[sched].longsched %>
                </td>
                <td>
                  <form method="POST" action="/scheds/<%= sched %>/delete">
                    <button type="submit" style="border-color: red; background-color: white; color: red;"
                      class="btn btn-primary">Delete</button>
                  </form>
                </td>
                <td>
                  <form method="GET" action="/scheds/<%= sched %>">
                    <button type="submit" style="border-color: blue; background-color: white; color: blue;"
                      class="btn btn-primary">Edit</button>
                  </form>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
        <% } else { %>
          <h5> Access denied. You must be logged in to access this page.</h5>
          <% } %>
    </main>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© 2017-2021 StrawHats, Inc.</p>
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="/homepage" class="nav-link px-2 text-muted">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">About</a>
        </li>
      </ul>
    </footer>
  </div>
  <style>
  body {
    background-image: url("https://www.vmcdn.ca/f/files/via/images/ice-hockey-arena.jpg;w=960");
    background-repeat: no-repeat;
    background-size: cover
}
</style>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>